<!DOCTYPE html>
<html>
<head>
    <title>List all the things</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/dist/css/bootstrap.min.css">
</head>
<body>
    <div class='container'>

        <%= yield %>

    </div>
</body>
</html>